@import url('https://fonts.googleapis.com/css?family=Fira+Sans:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

@fira : 'Fira Sans', sans-serif;
@mon : 'Montserrat', sans-serif;

a,p,h1,h2,h3,h4,h5,h6{
  font-family: @mon;
  margin-bottom: 0;
}

html,body{
  overflow-x: hidden;
}

.prelative.container2{
  // max-width: 1290px;
  margin: 0 auto;
}

.prelative.container{
  // max-width: 1530px;
  margin: 0 auto;
}

section.header{
  position: absolute;
  z-index: 10;
  width: 100%;
  padding: 0 75px;
  .prelative.container-header.header-tops{
    background: transparent;
    height: 125px;
    // padding: 0 20px;
    max-width: 1920px;
    border-bottom: 1px solid #787878;
    .row{
      padding-top: 25px;
      .image-kiri{
        img{
          margin-top: 40px;
        }
      }
      .image-tengah{
        img{
          margin: 0 auto;
          text-align: center;
          display: block;
        }
      }
      .image-kanan{
        .text{
          float: right;
          padding: 5px 30px;
          border: 1px solid #fff;
          border-radius: 30px;
          margin-top: 25px;
          // width: 212px;
          width: auto;
          a{
            font-size: 13px;color: #ffffff;font-family: @mon;text-decoration: none;text-transform: uppercase;font-weight: 500;
            img{
              margin-right: 15px;
              position: relative;
              top: -2px;
            }
          }
        }
      }
    }
  }
  .header-bottom{
    // background: #000000;
    // padding-top: 40px;
    .navbar-expand-lg{
      padding: 0;
      ul.navbar-nav{
        margin-right: auto;
        padding-top: 20px;
        li.nav-item{
          // padding: 0 15px;
          a.nav-link{
            font-size: 15px;font-weight: 400;color: #ffffff;
            margin-right: 15px; 
            font-family: @mon;
          }
        }
        li.nav-item.contact{
          border: 1px #fff solid;
          border-radius: 22px;
        }
      }
    }
  }
}

.fcs-wrapper.outers_fcs_wrapper.prelatife.wrapper-slide{
  .container.cont-fcs{
    max-width: 100%;
    padding: 0;
    width: auto;
    .carousel-item{
      background-size: cover; 
      img{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right center;
      }
    }
    .carousel-text{
      position: absolute;
      text-align: left;
      right: 0;
      left: 0;
      top: 50%;
      
    }
    .carousel-button-native{
      position: absolute;
      width: 100%;
      ol.carousel-indicators{
        position: relative;
        max-width: inherit;
        margin: 0px;
        right: inherit;
        width: 100%;
        text-align: center;
        justify-content: center;
        margin-top: -20px;
        left: 0;
        li{
          background: #ed1c24;
          width: 30px;
          height: 5px;
          border: 0px;
          border-radius: 0px;
          // margin: 0px 4px;
          cursor: pointer;
        }
        li.active{
          background: #ed1c24;
          border: 0px;
        }
      }
    }
  }
}

.carousel-caption.caption-slider-home{
  position: absolute;
  
  right: 15%;
  bottom: 6%;
  left: 15%;

  z-index: 10;
  padding-top: 20px;
  padding-bottom: 0px;

  color: #fff;
  text-align: center;
  .container{
    max-width: inherit;
    width: auto;
  }

  .bxsl_tx_fcs{
    max-width: 860px;
    box-shadow: none; text-shadow: none;
    text-align: center;
    display: block;
    margin: 0 auto;
    h3, h5, p{
      margin: 0;
      line-height: 1.2;
      margin-bottom: 1.3rem;
    }
    h5{
      font-size: 19px;
      color: #050607;
      font-weight: 400;
      margin-bottom: 0.4rem;
    }
    h3{
      font-size: 34px;
      color: #292b74;
      font-weight: 600;
      line-height: 1.1;
      margin-bottom: 0.6rem;
    }
    p{
      font-size: 13px;
      font-weight: 400;
      color: #474747;
    }
    a.btns_defaults_blue{
      background: none;
      background-color: transparent; border-radius: 0px;

      font-size: 13px;
      font-weight: 400;
      color: #fff;
      letter-spacing: 1px;
      background-color: #223b79;

    }

  }
}

.mw540{
  max-width: 540px;
}

section.block-home-1{
  background:#223b79 url('../images/backs_block_home1.jpg') center no-repeat;
  width: 100%;
  min-height: 330px;
  height: auto;
  .inner_sections.def_home{
    h3{
      display: block;
      margin: 0; line-height: 1.2;

      font-size: 25px;
      font-weight: 800;
      color: #fff;
      margin-bottom: 0.8rem;
      padding-top: 1.5rem;
    }
    p{
      display: block;
      margin: 0; line-height: 1.4;
      
      font-size: 15px;
      font-weight: 400;
      color: #fff;
      margin-bottom: 2rem;
    }

    ul.list_btm{
      text-align: center;
      li{
        p{
          text-align: left;
          margin-bottom: 0;
          font-size: 13px;
          font-weight: 700;
          a{
            color: #fff;
          }
          a:hover,
          a:focus{
            text-decoration: none;
            color: #f5f5f5;
          }
        }
      }
    }
    clear: both;
  }
  clear: both;
}

section.blocks_home-2{
  .back-blue{
    background-color: #eff8ff;
  }
  
  .lefts_filter{
    h3{
      font-size: 27px;
      font-weight: 700;
      color: #223b79;
    }
    ul{
      margin-top: 1.5rem;
      li{
        display: block;
        margin: 0.7rem 0;
        a{
          font-size: 15px;
          color: #6e6e6e;
          font-weight: 700;
          text-decoration: none;
        }
      }
      li:hover,
      li:focus,
      li.active{
        a{
          color: #223b79;
          text-decoration: underline;
        }
      }
    }
    clear: both;
  }

  .blocks_machine{
    max-width: 800px;
    display: block;
    margin: 0 auto;
      .tops{
        h4{
          font-size: 15px;
          font-weight: 400;
          color: #223b79;
          margin-bottom: 1.4rem;
        }
        .lines-grey{
          background-color: #dcdcdc;
          height: 1px;
          width: 100%;
        }
        clear: both;
      }
      .pictures{
        clear: both;
      }
      .desc_info{
        h5, p{
          display: block;
          margin: 0;
          line-height: 1.1;
        }
        h5{
          font-size: 29px;
          font-weight: 700; color: #223b79;
        }
        p{
          font-size: 17px;
          font-weight: 400;
          color: #646363;
          line-height: 1.5;
          margin-bottom: 1rem;
        }
        a.btn{
          padding: 0;
          font-size: 13px;
          font-weight: 400;
          color: #223b79;
          text-decoration: underline;
        }
      }
  }


  clear: both;
}

.t-backtop{
  position: fixed;
  bottom: 0px;
  right: 0px;
  z-index: 35;
  a{
    background-color: #fff;
    padding: 0.5rem;
    color: #000;
  }
}
.home-sec-5{
  background-color: #e6e9ea;
}