{% extends layout %}
{% block title %}{% endblock %}
{% block menu %}homepage{% endblock %}
{% block content %}

<section class="block-home-1">
    <div class="prelatife container">
        <div class="py-4"></div>
        <div class="inner_sections def_home mw540 mx-auto text-center">
            <h3>Let’s Find The Best Machine For You</h3>
            <p>You might need help or assistance regarding your needs of machines. Please contact us anytime at one of the methods below.</p>
            <div class="clear"></div>

            <ul class="list-inline list_btm">
                <li class="list-inline-item">
                    <div class="d-inline-block align-middle pr-2">
                        <img src="{{ app.request.baseurl }}/asset/images/icons_phone-bg.png" alt="" class="img img-fluid">
                    </div>
                    <div class="d-inline-block align-middle">
                        <p>WHATSAPP CHAT <br>
                            <a href="#">081 6848 361 (Click)</a></p>
                    </div>
                </li>
                <li class="list-inline-item">
                    <div class="lines-verticals"></div>
                </li>
                <li class="list-inline-item">
                    <div class="d-inline-block align-middle pr-2">
                        <img src="{{ app.request.baseurl }}/asset/images/icons_mail-bg.png" alt="" class="img img-fluid">
                    </div>
                    <div class="d-inline-block align-middle">
                        <p>EMAIL<br>
                            <a href="mailto:info@hentraco.co.id">info@hentraco.co.id</a></p>
                    </div>
                </li>
            </ul>

        </div>
        <div class="py-4"></div>
        <div class="clearfix clear"></div>
    </div>
</section>

<section class="blocks_home-2">
    <div class="row">
        <div class="col-md-15 py-5 my-auto back-blue">
            <div class="left-space pl-5 mx-2 lefts_filter">
                <div class="py-4"></div>
                <h3>Our Machine Tool &<br>Industrial Machinery</h3>
                <div class="py-2"></div>
                <ul class="list-unstyled">
                    <li class="active"><a href="#">Lathe Machine</a></li>
                    <li><a href="#">Milling Machine</a></li>
                    <li><a href="#">EDM Machine</a></li>
                    <li><a href="#">CNC Machine</a></li>
                    <li><a href="#">Grinding Machine</a></li>
                    <li><a href="#">DRO Machine</a></li>
                    <li><a href="#">Others</a></li>
                </ul>
                <div class="py-4"></div>
                <div class="celar"></div>
            </div>
        </div>
        <div class="col-md-45 py-5 my-auto">
            <div class="right-space pr-5 mx-2">
                <div class="py-4"></div>
                <div class="blocks_machine">
                    <div class="row mb-3 tops">
                        <div class="col">
                            <h4>C.V. Hentraco specialties</h4>
                            <div class="clear"></div>
                            <div class="lines-grey"></div>
                        </div>
                    </div>
                    <div class="py-2 my-1"></div>
                    <div class="row">
                        <div class="col-md-25">
                            <div class="pictures"><img src="{{ app.request.baseurl }}/asset/images/machines-n1.jpg" alt="" class="img img-fluid"></div>
                        </div>
                        <div class="col-md-35">
                            <div class="desc_info py-3">
                                <h5>Lathe Machine</h5>
                                <div class="py-2"></div>
                                <p>We present the high performance Lathe machines for your industrial purpose. We are the sole agent and distributor for well known brand such as Chinhung Kinwa Lathe. </p>
                                <a href="#" class="btn btn-link">LEARN MORE</a>
                            </div>      
                        </div>
                    </div>
                </div>

                <div class="py-4"></div>
            </div>
        </div>
    </div>
</section>

<section class="home-sec-4">
    <div class="row no-gutters">
        <div class="col-md-15">
            <div class="pictures prelatife"><img src="{{ app.request.baseurl }}/asset/images/banners_ft_1.jpg" alt="" class="img img-fluid"></div>    
        </div>

        <div class="col-md-15">
            <div class="pictures prelatife"><img src="{{ app.request.baseurl }}/asset/images/banners_ft_1.jpg" alt="" class="img img-fluid"></div>    
        </div>
        <div class="col-md-15">
            <div class="pictures prelatife"><img src="{{ app.request.baseurl }}/asset/images/banners_ft_2.jpg" alt="" class="img img-fluid"></div>    
        </div>
        <div class="col-md-15">
            <div class="pictures prelatife"><img src="{{ app.request.baseurl }}/asset/images/banners_ft_3.jpg" alt="" class="img img-fluid"></div>    
        </div>
    </div>
</section>

<section class="home-sec-5 py-4">
    <div class="lefts_space pl-5 my-2 mx-2">
        <div class="d-inline-block pr-5 names_titles align-middle">
            C.V. Hentraco - Machine Tools & Industrial Machinery Brand:
        </div>
        <div class="d-inline-block align-middle">
            <ul class="list-inline">
                <li class="list-inline-item">
                    <img src="{{ app.request.baseurl }}/asset/images/log_icon_ft_1.jpg" alt="" class="img img-fluid">
                </li>
                <li class="list-inline-item">
                    <img src="{{ app.request.baseurl }}/asset/images/log_icon_ft_2.jpg" alt="" class="img img-fluid">
                </li>
                <li class="list-inline-item">
                    <img src="{{ app.request.baseurl }}/asset/images/log_icon_ft_3.jpg" alt="" class="img img-fluid">
                </li>
            </ul>
        </div>
    </div>
</section>
	
{% endblock %}