{% extends layout %}
{% block title %}References - {% endblock %}
{% block menu %}reference{% endblock %}
{% block content %}
	<!--slider-->
    <section class="slider inside-page pages_references">
        <div class="outer-wrapper-top">
            <div class="top-blue">
            </div>
            
            <div class="box-slider topsn_cloud_word-references">
                <div class="container prelatife-header">
                    {% include "/layouts/header.twig" with { 'menu': block('menu') } %}
                </div>
                
                <div class="inner-content-top">
                    <h4 class="small">PROJECT REFERENCES</h4>
                    <h3>Worldwide Client</h3> 
                    
                    <p>PT. Puspetindo is a nation-leading industrial company offering engineering services and manufacturing of plants equipments in a wide selection. We build equipments for the sustainable processing and flow of natural resources in various industries such as mining, aggregates, recycling and process industries.</p>
                    <div class="clear"></div>
                </div>
            </div>

        </div>
    </section>
    <!--akhir slider-->

    <div class="outer-middle-content references_page">
        <div class="prelatife container">
            <div class="inner-content">
                <div class="tops-filter text-center">
                    <h4>Select Project References by Industry</h4>
                    <div class="clear height-20"></div>
                    <ul class="list-inline">
                        <li class="{% if actives == '' %}active{% endif %}"><a href="{{ path('reference') }}">ALL</a></li>
                        {% for key, items in set_category_refALl %}
                        <li class="{% if actives == items.kategori %}active{% endif %}"><a href="{{ path('reference', {cat: items.kategori}) }}">{{ items.kategori|upper }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                
                <div class="lists-data-referencesn_item">
                    <div class="row">
                        {% for key, item in model %}
                        <div class="col-md-3 col-sm-6">
                            <div class="items">
                                <div clas="picture">
                                    <img src="{{ app.request.baseurl }}/images/reference/{{ item.picture }}" alt="" class="img-responsive">
                                </div>
                                <div class="info">
                                    <h3 class="titles">{{ item.nama|title }}</h3>
                                    <div class="clear"></div>
                                    <span class="company">{{ item.company|upper }}</span>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="listn-paginationsn-dta text-center hide hidden">
                    <nav>
                      <ul class="pagination">
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                      </ul>
                    </nav>
                </div>

                <div class="clear height-40"></div>


                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
{% endblock %}
